#result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
  }

/*
  The rest are in the HTML at style#output-2
*/

#getOutput {
  position: fixed;
  right: 160px;
  bottom: 5px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
#getOutput:hover {
  background: lightgray;
  border: 1px solid black;
}